* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monstserrat';
    color: #ffffff;
}

html,body {
    height: 100%;
    font: 100%;
    perspective:800px;
}

#nav img {
    height: 75px;
}

#nav {
    display: flex;
    height: 145px;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    padding: 0 150px;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    z-index: 99;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(94, 164, 218);
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}
#cursor-blur{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(90px);
}

#nav h4 {
    transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;

}
#page1 h1::before{
    content: "THE GAME BEGIN!";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #909597;
    z-index: -1;
}
#page1 h2{
    font-size: 33px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
#page1 p{
    color: rgb(184, 181, 181);
    font-size: 20px;
    font-weight: 500;
    width: 26%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: inherit;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    color: transparent;
    -webkit-text-stroke: 2px rgb(24, 133, 216);
    transition: all linear 0.3s;
}
#scroller #scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4:hover{
    color: white;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#scroller h4:hover{
    color: rgb(54, 149, 233);
}
#img1st{
    opacity: 1;
    transform: translateY(0);
}
#img1st img{
    width: 100%;
    height: auto;
}
#aboutus{
    margin-top: 50px;
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}
#aboutus img{
    height: 220px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}
#aboutus-in{
    width: 50%;
    text-align: center;
}
#aboutus-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}
#aboutus-in p{
 font-size: 20px;
 line-height: 26px;
}
#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}
.card{
    height: 80%;
    width: 29%;
    /* background-color: blue; */
    border-radius:30px ;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    margin-bottom: 50px;
}
#card1{
    background-image: url(https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/145v1lJbepUf7s21OqqR7G/656427f62f775771645a22c1a1c3c625/-WD2-_Media_-_Screenshot_1.jpg);
}
#card2{
    background-image: url(https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3qjG6rYYLnYhQPv8QA6tLK/6d05ea477e710ac958bbcef1d07f69e3/-WD2-_Media_-_Screenshot_2.jpg);
}
#card3{
    background-image: url(https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5BMAGcaQW2u0KSIlLW4T76/21583b2dab86d32617f230d8f57dd897/-WD2-_Media_-_Screenshot_4.jpg);
}
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}
.overlay p{
    color:black;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#bg-div{
    margin-top: 60px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: url(https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7cNWHgJvotH5R88c2hiBya/e5473ad8232be794957a15fad32d1d66/wd2-ubicom-season_pass-promo-v2-dark.jpg;);
}
#bg-div h4{
    font-weight: 800;
    width: 45%;
    line-height: 35px;
    color: #ffffff;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}
#bg-div img{
    object-fit: cover;
    width: 14%;
    height: 100%;
}
#bg-div p{
    padding: 150px;
    font-weight:800;
    width: 45%;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 10px;
}
#page3>p{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    width: 50%;
    text-align: center;

}
#page3 img{
    position: absolute;
    height: 20px;
}
#page3 #colon-1{
    left: 18%;
    top: 21%;
}
#page3 #colon-2{
    right: 18%;
    bottom: 21%;
}
.footer-container{
    max-width: 1270px;
    /* background-color: red; */
    margin: auto;
}

ul{
    list-style:none;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
#logoimg {
    width: 150px; /* Reduced size */
}
#footer {
    background-color: #24262b;
    padding: 30px 0; /* Reduced from 70px */
}
.footer-col {
    width: 25%;
    padding: 0 10px; /* Reduced padding */
}
.footer-col li {
    font-size: 16px; /* Smaller font */
    line-height: 24px;
}

.footer-col li>a{
    text-decoration: none;
}
.footer-col li>a:hover{
    color: #444444;
}
.footer-col li::before{
    content: "";
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
}
